/*
  File: tiffany.css
  Author: Kyle Huang

  Styles the index.html using flex and grid for responsiveness.
*/

main {
	display: flex;
	align-items: stretch;
}

main article {
	float: right;
	width: 100%;
	display: flex;
	flex-direction: column;
}

main .side {
	display: flex;
	flex-direction: column;
	position: -webkit-sticky;
	position: sticky;
	top: 75px;
	z-index: 0;
	padding: 10px;
	text-align: center;
	background-color: #ecc14a;
	width: 7em;
	height: 100%;
	vertical-align: middle;
	border-radius: 0 20px 20px 0;
	margin-top: 100px;
}

main .side hr {
	text-align: center;
	display: flex;
	justify-self: center;
	align-self: center;
	width: 100%;
}

main .side a {
	color: #256fa0;
	text-decoration: none;
	line-height: 1.7rem;
	padding: 0 20px;
}

main .side a:hover {
	color: purple;
	transition: all 0.3s ease-in-out;
}

h2 {
	color: var(--link-color);
	font-size: 2.25rem;
	margin-bottom: 20px;
	line-height: 2.25rem;
	text-align: center;
	letter-spacing: 0.10rem;
}

.about,
.contact {
	display: flex;
	flex-direction: row;
	padding: 30px;
}

.about div,
.contact div {
	flex: 50%;
}

.image {
	display: block;
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.words {
	height: auto;
	display: block;
	line-height: 25px;
	letter-spacing: 0.7px;
	display: flex;
	flex-direction: column;
	padding: 5rem;
	width: 100%;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	clear: both;
	background-color: #71abd1;
	height: 50px;
}

/* Class list for event listeners in index.js */
.show {
	visibility: visible;
	display: block;
}

/* Responsiveness */
@media screen and (max-width: 1000px) {
	header .title {
		font-size: 4.5vw;
		line-height: 2.75rem;
	}

	.about,
	.contact {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0rem;
	}

	.image {
		width: 90%;
		height: auto;
	}

	article div {
		padding: 0;
	}
}