body {
    margin: 0;
    font-family: Playfair Display, serif, Arial, Helvetica;
    --link-color: #8231b1;
    z-index: -1;
    display: inline-block;
    line-height: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: var(--link-color);
    font-size: 2.25rem;
    margin-bottom: 20px;
    line-height: 2.25rem;
    text-align: center;
    letter-spacing: 0.10rem;
}

header {
    text-align: center;
    position: relative;
}

header #cloud {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    opacity: 80%;
    display: block;
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    text-shadow: 0 0 20px #884daa, 0 0 20px red, 0 0 20px yellow;
    color: #58008b;
    width: 100%;
}

.social-media {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.fab {
    font-size: 5.5rem;
    width: 70px;
    height: auto;
    position: relative;
    flex-direction: row;
    text-shadow: 0 0 20px whitesmoke;
    margin: 0 2em;
}

.social-media ul li a {
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.fab:hover {
    transform: translate(0, -5%);
    transition: all 0.5s ease-in-out;
}

.fa-facebook {
    color: #3b5998;
}

.fa-yelp {
    color: #c41200;
}

.fa-facebook:hover {
    color: #2c4577;
}

.fa-yelp:hover {
    color: #dd220d;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    background-color: #e6e6e6;
    text-align: center;
    display: flex;
}

nav a {
    color: #1d1d1d;
    text-decoration: none;
    text-align: center;
    padding: 7px 15px;
}

nav a:hover {
    background-color: #3d6bc7;
    color: ghostwhite;
}

main {
    display: flex;
    align-items: stretch;
}

main article {
    float: right;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about,
.contact {
    display: flex;
    flex-direction: row !important;
    clear: both;
    padding: 30px;
}

.about {
    background: linear-gradient(45deg, rgb(34, 146, 187), #ed81f7);
}

.contact {
    background: linear-gradient(45deg, rgb(153, 235, 59), #eea34e);
}

.image {
    display: block;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.words {
    height: auto;
    display: block;
    line-height: 25px;
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
    background-color: #71abd1;
    height: 50px;
}

@media screen and (max-width: 1900px) {
    article div {
        display: flex;
        align-items: center;
    }

    .fab {
        font-size: 5rem;
        margin: 0 1.1em;
    }
}

@media screen and (max-width: 1000px) {

    article .about,
    .contact {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .fab {
        margin: 0 0.5em;
        font-size: 3.25rem;
    }

    .image {
        width: 100%;
        height: auto;
    }

    article div {
        padding: 0;
    }
}
