/*
  File: tiffany.css
  Author: Kyle Huang

  Styles the index.html using flex and grid for responsiveness.
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -webkit-scrollbar-color: rgb(99, 98, 98) rgb(49, 49, 49);
  -o-scrollbar-color: rgb(99, 98, 98) rgb(49, 49, 49);
  -moz-scrollbar-color: rgb(99, 98, 98) rgb(49, 49, 49);
  -ms-scrollbar-color: rgb(99, 98, 98) rgb(49, 49, 49);
  scrollbar-color: rgb(99, 98, 98) rgb(49, 49, 49);
}

html {
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 3rem;
}

header #cloud {
  top: 50px;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  -o-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  position: absolute;
}

header .title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  font-size: 40px;
  text-shadow: 0 0 20px #884daa, 0 0 20px rgba(255,0,0,0.2), 0 0 20px rgba(255,255,0,0.2);
  color: #58008b;
  text-align: center;
}

.social-media {
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  width: 100%;
  height: auto;
}

.social-media ul li a {
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.fab {
  font-size: 4.5rem;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}

.fab, .fa-yelp {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
}

#facebook-icon, #yelp-icon {
  font-size: 2.5rem;
  margin: 0.25rem 0;
}

.fab:hover, .fa-yelp:hover {
  transform: translate(0, -5%);
  transform: scale(108%);
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.fa-facebook {
  color: #3b5998;
}

.fa-yelp {
  color: #c41200;
}

.fa-facebook:hover {
  color: #2c4577;
}

.fa-yelp:hover {
  color: #dd220d;
}

nav {
  position: -webkit-fixed;
  position: -oz-fixed;
  position: -moz-fixed;
  position: -ms-fixed;
  position: fixed;
  background-color: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
}

nav, footer, .side {
  -webkit-background-color: #71abd1;
  -o-background-color: #71abd1;
  -moz-background-color: #71abd1;
  -ms-background-color: #71abd1;
  background-color: #71abd1;
}

nav div {
  position: absolute;
  width: auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

.nav-left a {
  color: #1d1d1d;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 5px 10px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

nav .nav-right #menuIcon {
  visibility: hidden;
  font-size: 22px;
  color: #1d1d1d;
  padding-right: 10px;
}

nav div #menuIcon:hover {
  color: rgb(110, 110, 110);
}

nav a:hover {
  -webkit-background-color: #3d6bc7;
  -o-background-color: #3d6bc7;
  -ms-background-color: #3d6bc7;
  -moz-background-color: #3d6bc7;
  background-color: #3d6bc7;
  color: ghostwhite;
  transition: all 0.3s ease-in-out;
}

footer {
  width: 100%;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clear: both;
  -webkit-background-color: #71abd1;
  -o-background-color: #71abd1;
  -moz-background-color: #71abd1;
  -ms-background-color: #71abd1;
  background-color: #71abd1;
  padding: 9px 0;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 500;
}