body {
  margin: 0;
  font-family: Playfair Display, serif, Arial, Helvetica;
  --link-color: #8231b1;
  z-index: -1;
  line-height: 2rem;
  background: linear-gradient(5deg, rgb(211, 229, 236), #f5dede);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 500px;
  position: relative;
}

header #cloud {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 80%;
  overflow: hidden;
}

header .title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  font-size: 40px;
  text-shadow: 0 0 20px #884daa, 0 0 20px red, 0 0 20px yellow;
  color: #58008b;
  text-align: center;
}

.social-media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  width: 100%;
  height: auto;
}

.fab {
  font-size: 4.5rem;
  text-shadow: 0 0 20px whitesmoke;
  margin: 0 20px;
}

.social-media ul li a {
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.fab:hover {
  transform: translate(0, -5%);
  transition: all 0.5s ease-in-out;
}

.fa-facebook {
  color: #3b5998;
}

.fa-yelp {
  color:#c41200;
}

.fa-facebook:hover {
  color: #2c4577;
}

.fa-yelp:hover {
  color: #dd220d;
}

nav {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  position: -oz-sticky;
  position: -moz-sticky;
  background-color: #e6e6e6;
  text-align: center;
  display: flex;
}

nav a {
  color: #1d1d1d;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}

nav a:hover {
  background-color: #3d6bc7;
  color: ghostwhite;
  transition: all 0.3s ease-in-out;
}

main {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

main article {
  width: 100%;
  height: 100%;
}

main .side {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  z-index: 0;
  padding: 10px;
  text-align: center;
  background-color: #ecc14a;
  width: 7em !important;
  height: 100%;
  vertical-align: middle;
  border-radius: 0 20px 20px 0;
  margin-top: 100px;
}

main .side a {
  color: #256fa0;
  text-decoration: none;
  line-height: 1.7rem;
}

main .side a:hover {
  color: purple;
  transition: all 0.3s ease-in-out;
}

h2 {
  color: var(--link-color);
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.10rem;
  padding: 0 0 30px 0;
}

h3 {
  padding-bottom: 20px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  min-width: 50%;
  max-height: 800px;
  padding: 30px;
}

.text {
  height: auto;
  line-height: 25px;
  letter-spacing: 0.7px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#fix {
  width: auto;
  height: 100%;
}

.map {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 30em;
}

.table {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid black;
}

footer {
  text-align: center;
  clear: both;
  background-color: #71abd1;
  padding: 9px 0;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

hr {
  background: rgb(157, 205, 224);
  color: rgb(157, 205, 224);
  transition: all 0.4s ease-in-out;
  width: 95%;
  height: 2px;
  border: solid rgb(157, 205, 224) 2.5px;
  border-radius: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  main .side {
    display: none;
  }

  header .title {
    font-size: 4.5vw;
    line-height: 2.75rem;
  }

  .reviews-wrapper {
    flex-direction: column;
  }

  article .reviews, .location, .services, .schedule, .spa, .health, .eyelash, .penalty, .faq {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fab {
    font-size: 3.25rem;
  }

  .image {
    width: 100%;
    height: 540px;
  }

  .map {
    padding: 30px 0 0 0 !important;
  }

  table {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
}