body {
  margin: 0;
  font-family: Playfair Display, serif, Arial, Helvetica;
  --link-color: #8231b1;
  z-index: -1;
  display: inline-block;
  line-height: 2rem;
  background: linear-gradient(5deg, rgb(211, 229, 236), #f5dede);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--link-color);
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.10rem;
  padding: 0 0 30px 0;
}

header {
  text-align: center;
  position: relative;
}

header #cloud {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  opacity: 80%;
  display: block;
}

header .title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  text-shadow: 0 0 20px #884daa, 0 0 20px red, 0 0 20px yellow;
  color: #58008b;
  width: 100%;
}

.social-media {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.fab {
  font-size: 5.5rem;
  width: 70px;
  height: auto;
  position: relative;
  flex-direction: row;
  text-shadow: 0 0 20px whitesmoke;
  margin: 0 2em;
}

.social-media ul li a {
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.fab:hover {
  transform: translate(0, -5%);
  transition: all 0.5s ease-in-out;
}

.fa-facebook {
  color: #3b5998;
}

.fa-yelp {
  color:#c41200;
}

.fa-facebook:hover {
  color: #2c4577;
}

.fa-yelp:hover {
  color: #dd220d;
}

nav {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #e6e6e6;
  text-align: center;
  display: flex;
}

nav a {
  color: #1d1d1d;
  text-decoration: none;
  text-align: center;
  padding: 0 15px;
}

nav a:hover {
  background-color: #3d6bc7;
  color: ghostwhite;
  transition: all 0.3s ease-in-out;
}

main {
  display: flex;
  align-items: stretch;
}

main .side {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 51px;
  z-index: 0;
  padding: 20px;
  text-align: center;
  background-color: #ecc14a;
  width: 7em !important;
  height: 810px;
  vertical-align: middle;
  border-radius: 0 20px 20px 0;
}

main .side a {
  color: #256fa0;
  text-decoration: none;
  padding: 10px 0;
}

main .side a:hover {
  color: purple;
  transition: all 0.3s ease-in-out;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reviews-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviews > text {
  text-align: center;
  width: 100%;
}

article .reviews, .location, .services, .schedule, .spa, .health, .eyelash, .penalty, .faq {
  display: flex;
  flex-direction: row !important;
  clear: both;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  min-width: 50%;
  max-height: 800px !important;
  padding: 30px;
}

.text {
  height: auto;
  display: block;
  line-height: 25px;
  letter-spacing: 0.7px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#fix {
  width: auto;
  height: 85vh;
}

.map {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 30em;
}

.table {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid black;
}

footer {
  text-align: center;
  clear: both;
  background-color: #71abd1;
  padding: 16px 0;
}

hr {
  color: rgb(157, 205, 224);
  transition: all 0.4s ease-in-out;
  height: 5px;
  border: solid rgb(157, 205, 224) 2.5px;
  border-radius: 50%;
}

@media screen and (max-width: 1900px) {
  .fab {
    font-size: 5rem;
    margin: 0 1.1em;
  }
}

@media screen and (max-width: 1000px) {
  main .side {
    display: none;
  }

  .reviews h2 {
    margin-top: 30px;
  }

  .reviews-wrapper {
    flex-direction: column;
  }

  article .reviews, .location, .services, .schedule, .spa, .health, .eyelash, .penalty, .faq {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .fab {
    margin: 0 0.5em;
    font-size: 3.25rem;
  }

  .image {
    width: 100% !important;
    height: 540px !important;
    padding: 30px 0;
  }

  .map {
    padding: 30px 0 0 0 !important;
  }

  iframe {
    width: 100% !important;
    height: 70vw !important;
  }

  #fix {
    width: auto;
    height: 50vw;
  }

  table {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
