* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  scrollbar-color: rgb(99, 98, 98) rgb(49, 49, 49);
}

header {
  width: 100%;
  height: 500px;
  position: relative;
}

header #cloud {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 80%;
}

header .title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  font-size: 40px;
  text-shadow: 0 0 20px #884daa, 0 0 20px red, 0 0 20px yellow;
  color: #58008b;
  text-align: center;
}

.social-media {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  width: 100%;
  height: auto;
}

.fab {
  font-size: 4.5rem;
  text-shadow: 0 0 20px whitesmoke;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}

.social-media ul li a {
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.fab:hover {
  transform: translate(0, -5%);
  transform: scale(108%);
}

.fa-facebook {
  color: #3b5998;
}

.fa-yelp {
  color: #c41200;
}

.fa-facebook:hover {
  color: #2c4577;
}

.fa-yelp:hover {
  color: #dd220d;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  position: -oz-sticky;
  position: -moz-sticky;
  background-color: #e6e6e6;
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
}

nav div {
  position: absolute;
  width: auto;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  align-items: center;
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

.nav-left a {
  color: #1d1d1d;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 5px 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav .nav-right #menuIcon {
  visibility: hidden;
  font-size: 22px;
  color: #1d1d1d;
  padding-right: 10px;
}

nav div #menuIcon:hover {
  color: rgb(110, 110, 110);
}

nav a:hover {
  background-color: #3d6bc7;
  color: ghostwhite;
  transition: all 0.3s ease-in-out;
}

.side a:nth-child(even) {
  color: rgb(121, 16, 16);
}

main {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background: linear-gradient(5deg, rgb(211, 229, 236), #f5dede);
  line-height: 2rem;
}

main article {
  width: 100%;
  height: 100%;
}

main .side {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -moz-sticky;
  top: 75px;
  text-align: center;
  background: linear-gradient(45deg, #86b5ca, #c5dce7);
  width: auto;
  height: 100%;
  vertical-align: middle;
  border-radius: 0 20px 20px 0;
  margin-top: 100px;
  margin-right: 10px;
  font-size: 1.2rem;
  padding: 0.5rem;
}

main .side hr {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-self: center;
  align-self: center;
  width: 100%;
}

main .side a {
  color: #256fa0;
  text-decoration: none;
  line-height: 1.7rem;
  padding: 1.5px;
}

main .side a:hover {
  color: purple;
  transition: all 0.3s ease-in-out;
}

h2 {
  color: var(--link-color);
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.10rem;
  padding: 30px 0;
}

section {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

section div {
  width: 50%;
  flex: 50%;
}

img {
  width: 50%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  max-height: 800px;
}

.text {
  line-height: 25px;
  letter-spacing: 0.7px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.map {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 500px;
}

.table {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid black;
}

.qa {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.qa ul li a {
  text-decoration: none;
  color: rgb(27, 117, 133);
}

.qa ul li a:hover {
  color: rgb(149, 124, 12);
}

#links {
  text-align: left !important;
  text-decoration: none;
  color: #884daa;
}

#links:hover {
  text-decoration: none;
  color: #591d7c;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  clear: both;
  background-color: #71abd1;
  padding: 9px 0;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

hr {
  background: rgb(157, 205, 224);
  color: rgb(157, 205, 224);
  transition: all 0.4s ease-in-out;
  width: 95%;
  height: 2px;
  border: solid rgb(157, 205, 224) 2.5px;
  border-radius: 20px;
  margin: 15px auto;
}

@media screen and (max-width: 1000px) {
  nav .nav-right #menuIcon {
    visibility: visible;
  }

  main {
    flex-direction: column;
  }

  main .side {
    visibility: hidden;
    display: none;
    border-radius: 0;
    clear: both;
    top: 50px;
    width: 100%;
    margin: 0;
    line-height: 3rem;
    padding: 10px;
  }

  main .side.show {
    visibility: visible;
    display: block;
  }

  header .title {
    font-size: 4.5vw;
    line-height: 2.75rem;
  }

  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fab {
    font-size: 3.25rem;
  }

  .map {
    padding: 30px 0 0 0 !important;
  }

  table {
    width: auto;
    height: auto;
  }

  .text, img {
    width: 100%;
  }
}